// 颜色定义规范 d表示加深一下 l表示在加深

//背景颜色
$color-background:#ffffff;
$color-background-d:#ededed;
$color-background-dd:#eee;
$color-background-red:#c60000;
$color-background-blue:#317ee7;
$color-background-gray:#707070;
$color-background-gray-l:#cccccc;


//字体颜色
$color-text-black:#000000;
$color-text-black-opacity:rgba(0,0,0,0.1);
$color-text-gray:#bbbbbb;
$color-text-gray-d:#707070;
$color-text-gray-l:#cccccc;
$color-text-red:#c60000;
$color-text-blue:#317ee7;
$color-text-blue-d:#37A;
$color-text-green:#8bc386;
$color-text-white:#ffffff;


//点击样式
$color-text-active-orange:#F9845B;

//边框颜色
$color-border-red-d:#dd5862




